{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category_index') }}">back to list</a>



    {# pass in the 3 optional arguments #}
    {{ product.price|price(2, ',', '.') }}

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
